<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <title>Food Inspector</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="../../static/food_inspectre/css/inspectre.css" media="screen" title="no title"  charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
        .suggestions{
                position: absolute;
                width: 400px;
                background-color: #fff;
                border: 1px solid #ccc;
                display: none;
        }
        .suggestions ul{ list-style: none; margin: 0; }
        .suggestions ul li{ padding: 5px; cursor: pointer; }
        .suggestions ul li:hover{ background-color: #ccc; }

        #inspect{ cursor: pointer; }
    </style>
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZlatlx6HqjVqJFhy42kYRTOy_fjLO6gI"></script>-->
    <script type="text/javascript" src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script>
        $(document).ready(function(){
            $.get('http://ipinfo.io/json',function(result){
                var country = result.country;
                if(country=="IN"){ country= "India"; }
                if(country=="US"){ country= "USA"; }
                $(".caddress").html(result.city+", "+result.region+", "+country);
            });
            // Get Current Location
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
            function showPosition(position) {
                $(".clat").val(position.coords.latitude);
                $(".clng").val(position.coords.longitude);

                //Get User Address Details
                var add_url = 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+$(".clat").val()+','+$(".clng").val()+'&sensor=false';
                $.get(add_url, function(client) {
                    $(".caddress").html(client.results[0].formatted_address);
                });
            }
        });

        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: 'roadmap'
            };
                            
            // Display a map on the page
            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            map.setTilt(45);
            
            $('.btn-success').click(function(event){
                event.preventDefault();

                var restaurant = $("#restaurant").val();
                var url = 'https://data.sfgov.org/resource/sipz-fjte.geojson?business_name='+restaurant;
                //var url = 'https://data.sfgov.org/resource/sipz-fjte.geojson?business_name=Mint';

                $.get(url, function(data) {

                    if(data.features[0] == null){
                        $("table tbody").html("");
                        $(".error-result").html("No results found for restaurant's name");
                        $(".error-result").show();
                        //alert("Restaurant not found. Please try again.");
                        return false;
                    }
                    $(".error-result").hide();
                    $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });

                    var rest_result = "";

                    var markers = [];
                    var infoWindowContent = [];
                    var j=0;
                    for (var i = 0; i < data.features.length; i++){
                        var inspection = data.features[i].properties.inspection_score;
                        var ficon = "happy.png";
                        if(inspection<90 && inspection>80){ ficon = "normal.png"; }
                        if(inspection<80 && inspection>70){ ficon = "sad.png"; }
                        if(inspection<70){ ficon = "disgusted.png"; }
                        
                        var idate = data.features[i].properties.inspection_date;
                        var name = data.features[i].properties.business_name;
                        var address = data.features[i].properties.business_address;
                        var city = data.features[i].properties.business_city;
                        var zip = data.features[i].properties.business_postal_code;
                        var description = data.features[i].properties.violation_description
                        var risk = data.features[i].properties.risk_category;
                        var mylat = data.features[i].properties.business_latitude;
                        var mylang = data.features[i].properties.business_longitude;

                        if(inspection==null){ inspection= 'Not Available'; }
                        if(address==null){ address= 'Not Available'; }
                        if(zip==null){ zip= 'Not Available'; }
                        if(idate==null){ idate= 'Not Available'; }
                        if(description==null){ description= 'Not Available'; }
                        if(risk==null){ risk= 'Not Available'; }
                        if(mylat==null){ var location= 'Not Available'; }else{ var location='Available'; }

                        rest_result +='<tr><td>'+(i+1)+'</td>'+
                                    '<td>'+data.features[i].properties.business_name+'</td>'+
                                    '<td>'+address+'</td>'+
                                    '<td>'+zip+'</td>'+
                                    '<td>'+location+'</td>'+
                                    '<td>'+idate.substr(0, 10)+'</td>'+
                                    '<td>'+inspection+'</td>'+
                                    '<td><img src="/static/food_inspectre/img/'+ficon+'" title="Score : '+inspection+'" ></td>'+
                                    '<td>'+description+'</td>'+
                                    '<td>'+risk+'</td></tr>';
                        
                        if (mylat!=null) {
                            markers[j] = [name+', '+city, mylat,mylang];
                            infoWindowContent[j] = ['<div class="info_content">' +'<h3>'+name+'</h3>' +
                                '<div>City : '+city+'<br /> Address : '+address + '<br /> Postal Code : ' +
                                zip +'<br /> Inspection Date : '+idate.substr(0, 10) + '<br /> The Latest Inspection Score : <img title="'+inspection+'" src="/static/food_inspectre/img/'+ficon+'"> <br /> Description : ' +
                                description + '<br /> <a href="https://www.google.com/maps?q='+mylat+','+mylang+'&z=17&hl=en" target="_blank" > <img src="/static/food_inspectre/img/direction.png" style="margin-top:10px; width: 75px;"> </a> </div></div>']
                            j++;
                        }

                    }
                    $("table tbody").html(rest_result);

                    var infoWindow = new google.maps.InfoWindow(), marker, i;
                
                    // Loop through our array of markers & place each one on the map  
                    for( i = 0; i < markers.length; i++ ) {
                        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                        bounds.extend(position);
                        marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            title: markers[i][0]
                        });
                        
                        // Allow each marker to have an info window    
                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                                infoWindow.setContent(infoWindowContent[i][0]);
                                infoWindow.open(map, marker);
                            }
                        })(marker, i));

                        // Automatically center the map fitting all markers on the screen
                        map.fitBounds(bounds);
                    }

                    //Save Restaurant Data In Database

                    var idate = data.features[0].properties.inspection_date;
                    var name = data.features[0].properties.business_name;
                    var address = data.features[0].properties.business_address;
                    var city = data.features[0].properties.business_city;
                    var zip = data.features[0].properties.business_postal_code;
                    var description = data.features[0].properties.violation_description;
                    var risk = data.features[0].properties.risk_category;
                    var score = data.features[0].properties.inspection_score;

                    if(idate==null){ idate= 'Not Available'; }
                    if(address==null){ address= 'Not Available'; }
                    if(zip==null){ zip= 0; }
                    if(score==null){ score= 0; }
                    if(description==null){ description= 'Not Available'; }
                    if(risk==null){ risk= 'Not Available'; }

                    var sdata = JSON.stringify({
                        "business_name": name,
                        "address": address,
                        "zip_code": zip,
                        "inspection_date": idate,
                        "inspection_score": score,
                        "violation": description,
                        "risk_category": risk,
                    });

                    $.ajax({
                        url: 'api/v1/restaurant/',
                        type: 'POST',
                        contentType: 'application/json',
                        data: sdata,
                        dataType: 'json',
                        processData: false
                    })

                });
            });
                
            // Display multiple markers on a map
            

            // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
            var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
                this.setZoom(14);
                google.maps.event.removeListener(boundsListener);
            });
            
        }

                 
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3qE3RuuHI3ThYaQQiNvRD3tlWapLRCzo&callback=initialize">
        </script>

        <script>
            $(document).ready(function(){
                $("#restaurant").keyup(function(){
                    var rest = $(this).val();

                    if(rest.length>0){
                        var url = "api/v1/restaurant/?business_name__startswith="+rest;
                        $.get(url, function(data) {
                            var sugg = "";
                            for(var j=0; j<data.meta.total_count; j++){
                                sugg += "<li>"+data.objects[j].business_name+"</li>";
                            }

                            $(".suggestions ul").html(sugg);
                            $(".suggestions").show();
                        });
                    }else{
                        $(".suggestions").hide();
                    }
                });

                $(document).mouseup(function (e){
                    var container = $("#restaurant");

                    if (!container.is(e.target) // if the target of the click isn't the container...
                        && container.has(e.target).length === 0) // ... nor a descendant of the container
                    {
                        //container.hide();
                        $(".suggestions").hide();
                    }
                });
                
                $("body").on('click','.suggestions ul li',function(){
                    $("#restaurant").val($(this).text());
                    $('.btn-success').trigger('click');
                    $(".suggestions").hide();
                });
            });
        </script>

    </head>
  <body>
    <div id="top-section">
      <img id="top-banner" src="{% static 'food_inspectre/img/banner.png' %}">
    </div>

    <div class="container">
      
      <form id="form-container" method="get" onsubmit="return false;">
          <label class="form-label"> Search Restaurant (SF only): </label>
          <div>
              <input id="restaurant" type="text" name="business_name" placeholder="Enter restaurant name"  autocomplete="off">
              <div class="suggestions">
                  <ul></ul>
              </div>
          </div>
          <ul class="validation-error">
            {% for message in messages %}
              {% if 'search-error' in message.tags %}<li id="validation-text">{{ message }}</li>{% endif %}
            {% endfor %}
          </ul>
          <button class="btn btn-success" type="submit">Submit</button>
          <button class="btn btn-primary" onclick="window.location.reload();">Clear Result</button>
          <form action="/" method="post">
            <!-- <input class="btn btn-primary" value="Clear Results"> -->
        </form>

     </form>
        
        <div class="table-responsive" style="margin:20px 0; max-height:400px; overflow-y: scroll; padding: 5px; border: 2px solid #ccc; background: #fff;">
              <table id="mytable" width="100%" class="table table-striped">
                  <thead>
                      <tr>
                          <th id="srno">No.</th>
                          <th>Business Name:</th>
                          <th>Address</th>
                          <th>Zip Code</th>
                          <th>Location</th>
                          <th id="inspect">Inspection Date</th>
                          <th>Score</th>
                          <th>Rating</th>
                          <th width="200px">Description</th>
                          <th>Risk Category</th>
                      </tr>
                  </thead>
                  <tbody></tbody>
              </table>
          </div>

        <div id="search-results">
          <div class="error-result" style="display: none; color: red; font-size: 18px;">Restaurant not found. Please try again.</div>

          <div>
            <b>Current Location: </b>
            <input type="hidden" class="clat" value="">
            <input type="hidden" class="clng" value="">
            <span class="caddress"></span>
          </div>

          
      </div>

      <div id="map_canvas" style="min-width:600px; min-height: 550px;"></div>


    </div>

    <footer style="text-align: center; background-color: #fff; padding: 10px;">
        Food Inspector © Copyright 2016
    </footer>
    <div id="url-container" data-url="https://data.sfgov.org/resource/sipz-fjte.geojson?business_name="></div>

    <script>
        function sortTable(f,n){
            var rows = $('#mytable tbody  tr').get();

            rows.sort(function(a, b) {
                var A = getVal(a);
                var B = getVal(b);

                if(A < B) { return -1*f; }
                if(A > B) { return 1*f; }
                return 0;
            });

            function getVal(elm){
                var v = $(elm).children('td').eq(n).text().toUpperCase();
                if($.isNumeric(v)){
                    v = parseInt(v,10);
                }
                return v;
            }

            $.each(rows, function(index, row) {
                $('#mytable').children('tbody').append(row);
            });
        }
        var f_sl = 1;
        var f_nm = 1;
        $("#inspect").click(function(){
            f_sl *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_sl,n);
            $(this).css('color','#255884');
        });
        $("#srno").click(function(){
            f_nm *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_nm,n);
        });
    </script>


	</body>
</html>