<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <title>Food Inspectre</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="../../static/food_inspectre/css/inspectre.css" media="screen" title="no title"  charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZlatlx6HqjVqJFhy42kYRTOy_fjLO6gI"></script>
    <script type="text/javascript" src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
     <script>
         var map;
         var url = 'https://data.sfgov.org/resource/sipz-fjte.geojson';
         var jsonData;
         var gmarkers=[];
         var markerCluster;


         $(document).ready(function() {
                 var businessName = $("#business_name");
                 var businessAdrress = $("#business_address");
                 var businesZipCode = $("#business_zip_code");
                 var inspectionDate = $("#inspection_date");
                 var inspectionScore = $("#inspection_score");
                 var violationDescription= $("#violation_description");
                 var riskCategory = $("#risk_category");

                // Retrieve our data and plot it
                $.getJSON(url, function(data) {
                    jsonData = data;

                    for (i = 0; i < data.features.length; i++) {
                        if(data.features[i].geometry!=null){
                        var coords = data.features[i].geometry.coordinates;
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(coords[1], coords[0]),
                            label: data.features[i].properties.business_name ,
                            name: data.features[i].properties.business_name,
                            adrress: data.features[i].properties.business_address,
                            zip:data.features[i].properties.business_postal_code,
                            date: data.features[i].properties.inspection_date,
                            score:data.features[i].properties.inspection_score,
                            description:data.features[i].properties.violation_description,
                            riskcategory:data.features[i].properties.risk_category,
                            map: map
                });

                google.maps.event.addListener(marker, 'click', function() {
                            businessName.html(marker.name);
                            businessAdrress.html(marker.adrress);
                            businesZipCode.html(marker.zip);
                            inspectionDate.html(marker.date);
                            inspectionScore.html(marker.score);
                            violationDescription.html(marker.description);
                            riskCategory.html(marker.riskcategory);
                        });
                            gmarkers.push(marker);
                        }

                    }
                     markerCluster.addMarkers(gmarkers);

                });

             initMap();
            });

         function initMap(){

             var center = new google.maps.LatLng(37.7749, -122.4194);
             var mapOptions = {
                 zoom: 12,
                 center: center
             }
             map = new google.maps.Map(document.getElementById("map"), mapOptions);

             markerCluster = new MarkerClusterer(map, gmarkers,  {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

         }
        </script>


    </head>
  <body>
    <div id="top-section">
      <h1 id="header-text">Food Inspectre</h1>
    </div>

    <div class="container">
      
      <form id="form-container" action='/search' method='post'>
          {% csrf_token %}

          <label class="form-label">
            Search Restaurant (SF only): <input id="search-box" type="text" name="restaurant-name" placeholder="Enter Zip Code / Use current location / Address">
          </label>
          <ul class="validation-error">
            {% for message in messages %}
              {% if 'search-error' in message.tags %}<li id="validation-text">{{ message }}</li>{% endif %}
            {% endfor %}
          </ul>
          <input class="btn btn-success" type="submit" value="Submit">
      <div id="search-results">
        <div>
          <p  class="page-font">Business Name:<p id="business_name"></p></p>
          <p  class="page-font">Business Address:<p id="business_address"></p>
          <p  class="page-font">Business Zip Code:<p id="business_zip_code"></p>
          <p  class="page-font">Inspection Date:<p id="inspection_date"></p>
          <p  class="page-font">Inspection Score:<p id="inspection_score"></p>
          <p  class="page-font">Violation Description:<p id="violation_description"></p>
          <p  class="page-font">Risk Category:<p id="risk_category"></p>
        </div>
      </div>
      <div id="map"></div>


        </form>

    </div>


	</body>
</html>